<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vayne.lifecycle">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.vayne.lifecycle.activity.MainAActivity"></activity>
        <activity android:name="com.vayne.lifecycle.activity.MainBActivity"></activity>
    </application>

</manifest>
